.header{
    background-color: rgb(0 0 0);
    border-bottom: 2px solid grey;
    border-radius:0 0 5% 5%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* .logo-section{
width: 100px;
height: 100%;

} */

.logo-section img{
    object-fit: contain;
    width: 100px;
    height: 55px;
}

