.detail-page{
    background: white;
    text-align: left;
    padding: 2rem 10%;
    display: flex;
   
}
.detail-page div {
    margin-left: 20px;
  }

.detail-page img {
    position: relative;
    height: 250px;
    object-fit: cover;
    top: -5rem;

  }
  .shadow {
        box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
  }
  @media screen and (max-width:767px) {
    .detail-page { display:block} 
    .detail-page img { top :0}
    .detail-page div{margin: 0;}
    .xXxda{
        padding-top: 35vh !important;
    background-size: contain !important;
    } 
   
}
@media screen and (min-width:570px){
    .xXxda{
    background-size: cover !important;
    } 
}