.search-bar{
    text-align: center;
    margin-bottom: 25px !important;
}
.search-bar p{
    font-size: 50px;
    padding: 20px;
}
.search-bar form{
    width: 100%;
    max-width: 536px;
    margin: auto;
}
.search-bar input{
    border-radius: 50px;
    outline: none;
    height: 30px;
    width: 95%;
padding-left: 15px;

}
.input-group{
    position: relative;
}
.input-group button{
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;

    right: 10px  !important;
    top: 10px !important;
}