.movie-tile{
    display: flex;
    width: 100%;
    border: 2px solid gray;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.movie-tile img{
    /* flex: 0 0 35%;s */

    width: 45%;
    height: 250px;
    object-fit: cover;
}
.movie-tile .description{
    /* flex: 0 0 65%; */
    width: 55%;
    padding: 20px;
    width: 80%;
    background-color: rgb(35 35 35);

}
.movie-tile .description p{
    margin: 10px;

}